{# templates/catalog/product_detail.html #}
{% extends "base.html" %}
{% load static %}
{% block title %}{{ product.nombre }} - Boutique{% endblock %}

{% block content %}
<div class="row g-4">
  <div class="col-12 col-md-6">
    {% if product.imagen %}
        <img src="{{ product.imagen.url }}" 
            alt="{{ product.nombre }}" 
            class="product-detail-img">
    {% else %}
        <div class="placeholder-detail">
            <i class="bi bi-image"></i>
        </div>
    {% endif %}
  </div>

  <div class="col-12 col-md-6">
    <h2 class="mb-1">{{ product.nombre }}</h2>
    <p class="text-muted">
      {{ product.categoria.nombre|default:"Sin categoría" }}
    </p>

    <p>{{ product.descripcion }}</p>

    <p class="mt-3 mb-1">
      <strong>Precio:</strong> ${{ product.precio }}
    </p>
    <p class="mb-1">
      <strong>Talla:</strong> {{ product.talla|default:"-" }}
    </p>
    <p class="mb-1">
      <strong>Color:</strong> {{ product.color|default:"-" }}
    </p>
    <p class="mb-1">
      <strong>Stock disponible:</strong> {{ product.stock }}
    </p>
  </div>
</div>
{% endblock %}